* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.none {
  display: none;
}

.block {
  display: block;
}

nav {
  display: flex;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 9;
}
nav .logo {
  background-color: black;
  fill: white;
  padding: 0.2em;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 91px;
}
nav .logo :hover {
  cursor: pointer;
}
nav .logo svg {
  width: 40%;
}
nav .search {
  width: 94%;
  display: flex;
  background-color: #fff;
}
nav .search input {
  width: 100%;
  height: 100%;
  padding: 10px 60px;
  color: #081c24;
  font-weight: 300;
  font-size: 16px;
  border: none;
}
nav .search :focus {
  outline: none;
}
nav .search .divHamburguesa {
  align-self: center;
  margin: 10px;
  padding-right: 10px;
  background-color: #fff;
  cursor: pointer;
}
nav .search .divHamburguesa #hamburguesa {
  font-size: 2em;
  color: #999898;
}

.main {
  display: flex;
  padding-top: 75px;
}

.menu {
  width: 6%;
  position: fixed;
}
.menu .menu-option {
  height: 95px;
  display: flex;
  justify-content: center;
  border: 1px solid #f8f8f8;
  min-width: 91px;
}
.menu .menu-option svg {
  fill: rgba(8, 28, 36, 0.7);
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.menu .menu-option a {
  text-decoration: none;
  color: rgba(8, 28, 36, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .menu-option span {
  font-size: 0.6em;
  font-weight: 300;
  margin-top: 5px;
}

.activo {
  background-color: #f8f8f8;
}

.contenedor-pelis, .nuevoContenedor {
  width: 94%;
  background-color: #f8f8f8;
  padding: 20px 60px;
  margin-left: 91px;
}
.contenedor-pelis .titulo, .nuevoContenedor .titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #081c24;
  font-weight: 300;
}
.contenedor-pelis .titulo h2, .nuevoContenedor .titulo h2 {
  font-size: 18px;
  font-weight: 300;
}
.contenedor-pelis .titulo p a, .nuevoContenedor .titulo p a {
  text-decoration: none;
}
.contenedor-pelis .movies, .nuevoContenedor .movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contenedor-pelis .movies .pelicula, .nuevoContenedor .movies .pelicula {
  text-align: center;
  width: 200px;
  margin: 1em;
}
.contenedor-pelis .movies .pelicula :hover, .nuevoContenedor .movies .pelicula :hover {
  cursor: pointer;
  color: #081c24;
  transform: scale(1.03);
}
.contenedor-pelis .movies .pelicula img, .nuevoContenedor .movies .pelicula img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  transition: all 0.5s;
}
.contenedor-pelis .movies .pelicula p, .nuevoContenedor .movies .pelicula p {
  font-size: 14px;
  font-weight: 300;
  color: rgba(8, 28, 36, 0.5);
}

.botonLoadMore {
  border: 1px solid #081c24;
  height: 20px;
  font-weight: 300;
  padding: 5px;
  box-sizing: content-box;
  font-size: 14px;
  width: 10%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.botonLoadMore:hover {
  background-color: #081c24;
  color: white;
  cursor: pointer;
}

.modalWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(8, 28, 36, 0.98);
  display: flex;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: auto;
}
.modalWrapper .modalContainer {
  width: 50%;
  min-width: 500px;
  max-height: 100%;
  margin: 40px auto;
  position: relative;
}
.modalWrapper .modalContainer #cerrar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  z-index: 100;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
}
.modalWrapper .modalContainer #cerrar :hover {
  background: #bc3b69;
}
.modalWrapper .modalContainer header {
  display: flex;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.modalWrapper .modalContainer header .poster {
  width: 40%;
  padding: 20px;
}
.modalWrapper .modalContainer header .poster img {
  margin-top: 2em;
  max-width: 100%;
  height: auto;
}
.modalWrapper .modalContainer header .titulos {
  width: 60%;
  display: flex;
  align-self: center;
  flex-direction: column;
  padding: 40px 40px 40px 0px;
}
.modalWrapper .modalContainer header .titulos h1 {
  color: #bc3b69;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
}
.modalWrapper .modalContainer header .titulos span {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.modalWrapper .modalContainer .textos {
  display: flex;
  background-color: #fff;
  padding: 40px;
}
.modalWrapper .modalContainer .textos .vacio {
  width: 40%;
}
.modalWrapper .modalContainer .textos .descripcion {
  width: 60%;
}
.modalWrapper .modalContainer .textos .descripcion p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
}
.modalWrapper .modalContainer .textos .descripcion h2 {
  font-size: 16px;
  color: #bc3b69;
  font-weight: 400;
}

.menu.desplegar.none {
  display: none;
}

@media (max-width: 600px) {
  .ocultarEnResponsive {
    display: none;
  }

  .divHamburguesa {
    display: block;
  }

  .contenedor-pelis, .nuevoContenedor {
    width: 100%;
    margin-left: 0px;
    padding: 20px 20px;
  }

  .desplegar {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .desplegar .menu-option {
    width: 50%;
  }

  .pelicula:last-child {
    display: none;
  }

  .movies.pelicula {
    margin: 0.3em;
  }
}

/*# sourceMappingURL=style.css.map */
